{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/bats/bat-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="bat-container">
  <div class="bat-img">
    <img src="{% static 'images/baticon.png' %}" alt="A bat" />
  </div>
  <div class="bat-details">
    <h1>{{ bat.name }}</h1>
    {% if bat.age > 0 %}
      <h2>A {{ bat.age }} year old {{ bat.breed }}</h2>
    {% else %}
      <h2>A {{ bat.breed }} baby bat.</h2>
    {% endif %}
    <p>{{ bat.description }}</p>
  
    <div class="bat-actions">
      <a href="{% url 'bat-update' bat.id %}" class="btn warn">Edit</a>
      <a href="{% url 'bat-delete' bat.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<!-- Feedings section -->
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img
        src="{% static 'images/baticon.png' %}"
        alt="A bat"
      />
    </div>

    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add-feeding' bat.id %}"
      method="post"
      class="subsection-content"
      autocomplete="off"
    >
      {% csrf_token %} 
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    

    <h3>Past Feedings</h3>
    {% if bat.feeding_set.all.count %}
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Meal</th>
          </tr>
        </thead>
        <tbody>
          {% for feeding in bat.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>⚠️ {{bat.name}} has not been fed!</p>
      </div>
    {% endif %}
    

{% endblock %}
