{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/bats/bat-index.css' %}">
{% endblock %}

{% block content %}
<h1>Bats Index</h1>
<p>Welcome to the bats section!</p>

<section class="card-container">
{% for bat in bats %}
  <div class="card">
<a href="{% url 'bat-detail' bat.id %}">
    <div class="card-content">
      {% if bat.image %}
        <img src="{{ bat.image.url }}" alt="{{ bat.name }}" class="bat-img">
      {% else %}
        <img src="{% static 'css/images/baticon.png' %}" alt="{{ bat.name }}" class="bat-img">
      {% endif %}
      <h2>{{ bat.name }}</h2>
      <p>Breed: {{ bat.breed }}</p>
      <p>Age: {{ bat.age }}</p>
      <p>Description: {{ bat.description }}</p>
    </div>
    </a>
  </div>
{% endfor %}
</section>

{% endblock %}