.card-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    width: 275px;
    margin: 10px;
    border: var(--borders);
    box-shadow: var(--card-box-shadow);
    background: rgba(0, 0, 0, 0.5);
    border-radius: var(--card-border-radius);
  }
  
  .card-content {
    padding: 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: var(--card-border-radius);
  }
  
  .bat-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--card-border-radius);
  }
  
  .card > a {
    text-decoration: none;
    color: white;
  }
  
  .card h2 {
    margin: 10px 0;
    font-size: var(--font-xl);
    color: white;
  }
  
  .card p {
    margin: 5px 0;
    font-size: 0.5em;
    color: white;
  }
  